/target
/classes
**/target/classes/
.eastwood
/checkouts
*.jar
*.class
/.lein-*
/.rebel_*
/.nrepl-port
.DS_Store
.hgignore
.hg/
gh-pages
.lsp/
.clj-kondo/.cache/
.clj-kondo/imports/
.cpcache/
.clojars/login.env
/DELETE_ME
/.dir-locals.el
/.shadow-cljs/
/todo.org
/project.clj.bak
/bin/test-cljs
node_modules/
/cljs-test-runner-out
pom.xml.versionsBackup
